.all-movies {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0.5rem; */
  transition: all 300ms ease-out;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #232323;
  color: #fff;
  transition: all 300ms ease-out;

  border: 2px solid black;
  border-radius: 10px;
}
.movie span,
.movie h3,
.movie p {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.searchInput {
  text-align: center;
  padding: 0.1rem;
  margin-left: 10px;
}
