nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

nav a.activeLink {
  color: darkred;
  font-weight: bold;
}
header {
  width: 100%;
  background-color: skyblue;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: 2rem;
}
